<div id="post-show">
  <h1><%= @post.title %></h1>
  <p class="username">
    Shared by <%= @post.user.username %>
    about <%= time_ago_in_words(@post.created_at) %> ago
  </p>
  <div class="clearfix">
    <div class="post-image-description">
      <%= image_tag @post.image.url(:medium) %>
      <div class="description">
        <%= simple_format(@post.description) %>
      </div>
    </div>
    <div class="post-data">
      <%= link_to "Visit Link", @post.link, class: "button" %>
      <% if @post.user == current_user %>
        <%= link_to 'Edit', edit_post_path(@post), class: "button" %>
        <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "button" %>
      <% end %>
      <%= link_to like_post_path(@post), method: :get, class: "data" do %>
        <i class="fa fa-thumbs-o-up"></i>
        <%= pluralize(@post.get_upvotes.size, "Like") %>
      <% end %>
      <%= link_to dislike_post_path(@post), method: :get, class: "data" do %>
        <i class="fa fa-thumbs-o-down"></i>
        <%= pluralize(@post.get_downvotes.size, "Dislike") %>
      <% end %>
      <p class="data">
        <i class="fa fa-comments-o"></i>
        <%= pluralize(@post.comments.count, "Comment") %>
      </p>
    </div>
    <div id="random-post">
      <h3>Random Post</h3>
      <div class="post">
        <div class="post-image">
          <%= link_to (image_tag @random_post.image.url(:small)), post_path(@random_post) %>
        </div>
        <div class="post-content">
          <div class="title">
            <h2><%= link_to @random_post.title, post_path(@random_post) %></h2>
          </div>
          <div class="data clearfix">
            <p class="username">
              Shared by <%= @random_post.user.username %>
            </p>
            <p class="buttons">
              <span>
                <i class="fa fa-comments-o"></i>
                <%= @random_post.comments.count %>
              </span>
              <span>
                <i class="fa fa-thumbs-o-up"></i>
                <%= @random_post.get_upvotes.size %>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="comments">
  <h2 class="comment-count"><%= pluralize(@post.comments.count, "Comment") %></h2>
  <% @comments.each do |comment| %>
    <div class="comment">
      <p class="username"><%= comment.user.username %></p>
      <p class="content"><%= comment.content %></p>
    </div>
  <% end %>
  <%= render 'comments/form' %>
</div>
