<!DOCTYPE html>
<html>
  <head>
    <title>Showcase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
  </head>

  <body>
    <header>
      <div class="wrapper clearfix">
        <div id="logo">
          <%= link_to "Showcase", root_path %>
        </div>
        <nav>
          <% if user_signed_in? %>
            <%= link_to current_user.username, edit_user_registration_path, class: "button" %>
            <%= link_to "New", new_post_path, class: "button" %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, class: "button" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "button" %>
          <% end %>
        </nav>

      </div>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
